# dependencies
node_modules/
.pnpm-store/

# build
dist/
**/dist/
.vite/
*.tsbuildinfo

# env
.env
.env.*
!.env.example
!infra/.env.prod.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# os / editor
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json

# misc
coverage/
*.local
.turbo/
apps/web/src/generated/
.neon
.tmp/
